rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Regras para a coleção 'users'
    match /users/{userId} {
      
      // Permitir leitura e escrita APENAS se o usuário estiver autenticado
      // e o ID do documento for igual ao ID do usuário logado (request.auth.uid)
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
    }

    // Bloquear acesso a qualquer outra coleção por padrão (segurança total)
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
