* { box-sizing: border-box; 
  font-family: Arial, sans-serif; 
  margin: 0; 
  padding: 0; 
  scroll-behavior: smooth;}
body { background-color: #f4f4f4; color: #333; line-height: 1.6; }
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #DF6283;
    padding: 10px 20px;
}
.menu a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    
}
.menu a:hover {
    background: #4ED7FF;
    color: black;
    transition: 0.3s;
}
.menu h1 {
    margin: 0;
    color: #ffffff;
    font-size: 24px;
}
.menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: auto;
}
.dropdown:hover .dropdown-content {     
    display: block; 
    background: #d194a5;
    border-radius: 5px;
    transition: 0.3s;
}
.corpo {
    padding: 20px;
    background: white;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    height: 100vh;
}
.corpo_titulo {
    color: #DF6283;
    margin-bottom: 10px;
    font-size: 24px;
    border-bottom: 2px solid #DF6283;
    padding-bottom: 20px;

}
.corpo_p {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;
    color: #555;
}
.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #DF6283;
    color: white;
    padding: auto;
}
.rodape_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
}
