:root {
    --azul: #4ED7FF;
    --verde: #2DEB54;
    --branco: #f8f9fa;
    --cinza: #333333;
    --rosa: #FF3C78;
    --rosaclaro: #F27EEA;
    --amarelo: #F1F013;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--branco);
    color: var(--branco);
    margin: 20px;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Estilos do menu */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--branco);
    padding: 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.menu h1 {
    color: var(--rosa);
    font-size: 24px;
    font-weight: bold;
}
.navegacao ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
}
.dropdown{
    cursor: pointer;
    position: relative;
    display: inline-block;
    color: var(--branco);
    font-weight: bold;
    background-color: var(--rosa);
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.navegacao ul li a {
    text-decoration: none;
    color: var(--branco);
    font-weight: bold;
    transition: color 0.3s;
    background-color: var(--rosa);
    padding: 10px 15px;
    border-radius: 5px;
}
.navegacao ul li a:hover {
    background-color: var(--azul);
    color: var(--branco);
}
.navegacao ul li.dropdown {
    position: relative;
}
.navegacao ul li.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--branco);
    min-width: 250px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}
.navegacao ul li.dropdown:hover .dropdown-content {
    display: block;
}
.navegacao ul li.dropdown .dropdown-content a {
    color: var(--branco);
    text-decoration: none;
    display: block;
    text-align: left;
}
/* FIM Estilos do menu */

/* Estilo Conteúdo Inicial */
.conteudo_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    box-sizing: border-box;
    margin-top: 40px;
}
.apresentacao h1{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    color: var(--rosa);
    font-size: 28px;
}
.apresentacao {
    text-align: center;
    padding: 20px;
    background-color: var(--branco);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    color: var(--cinza);
    font-size: 18px;
    line-height: 1.6;
}
.imagem_inicio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 100px;
}
.imagem_inicio img {
    width: 500px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagem_inicio img:hover {
    transform: scale(1.05);
}

.imagem_inicio p {
    color: var(--cinza);
    margin-top: 20px;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
}
/* FIM Estilo Conteúdo Inicial */

/* Estilos de Desenhos para colorir */
.imagens_colorir {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin-top: 50px;
}
.imagens_colorir h1{
    text-align: center;
    margin-bottom: 20px;
    color: var(--rosa);
    font-size: 28px;
}
.imagens_colorir p{
    text-align: center;
    margin-bottom: 20px;
    color: var(--cinza);
    font-size: 18px;
    font-weight: 300;
}
.imagens_colorir iframe {
    width: 80vw;
    height: 60vh;
    max-width: 1200px;
    border-radius: 10px;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 300px;
}
/* FIM Estilos de Desenhos para colorir */

/* Estilos de Jogos Educativos */
.jogos_educativos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin-top: 50px;
}
.jogos_educativos h1{
    text-align: center;
    margin-bottom: 20px;
    color: var(--rosa);
    font-size: 28px;
}
.jogos_educativos p{
    text-align: center;
    margin-bottom: 20px;
    color: var(--cinza);
    font-size: 18px;
    font-weight: 300;
}
.jogos_educativos iframe {
    width: 80vw;
    height: 60vh;
    max-width: 1200px;
    min-height: 300px;
    border-radius: 10px;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* FIM Estilos de Jogos Educativos */

/* Estilos de Vídeos Educativos */
.videos_educativos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin-top: 50px;
}
.videos_educativos h1{
    text-align: center;
    margin-bottom: 20px;
    color: var(--rosa);
    font-size: 28px;
}
.videos_educativos p{
    text-align: center;
    margin-bottom: 20px;
    color: var(--cinza);
    font-size: 18px;
    font-weight: 300;
}
.videos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    width: 100%;
}
.videos iframe {
    height: 300px;
    width: 500px;
    max-width: 100%;
    border-radius: 20px;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* FIM Estilos de Vídeos Educativos */

/*Estilo Contato*/
.conteudo_contato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin-top: 50px;
}
.conteudo_contato h1{
    text-align: center;
    margin-bottom: 20px;
    color: var(--rosa);
    font-size: 28px;
}
.conteudo_contato p{
    text-align: center;
    margin-bottom: 20px;
    color: var(--cinza);
    font-size: 18px;
    font-weight: 300;
}
.contato_label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid var(--rosa);
    border-radius: 5px;
    padding: 20px;
    background-color: var(--amarelo);
}
.contato_label label {
    color: var(--cinza);
    font-weight: bold;
    margin-bottom: 5px;
}
.contato_label .input {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--rosa);
    border-radius: 5px;
}
.contato_label .input:focus {
    border-color: var(--azul);
    outline: none;
}
.contato_label .botao {
    background-color: var(--rosa);
    color: var(--branco);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}
.contato_label .botao:hover {
    background-color: var(--verde);
    color: var(--rosa);
}

/* FIM Estilo Contato*/

/* Estilos do rodapé */
.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background-color: var(--rosa);
    color: var(--branco);
    position: relative;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.contato h3{
    color: var(--branco);
    text-decoration: none;
    font-weight: bold;
}
.contato p{
    color: var(--branco);
    text-decoration: none;
    font-weight: 300;
}
#email {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 250px;
    max-width: 100%;
    margin-right: 10px;
}
.submit-button {
    background-color: var(--branco);
    color: var(--rosa);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}
.submit-button:hover {
    background-color: var(--azul);
    color: var(--branco);
}
/* FIM Estilos do rodapé */

/* Suporte para modo escuro */
@media (prefers-color-scheme: dark) {
    :root {
        --branco: #000000;
        --cinza: #e0e0e0;
    }
}
